@keyframes slide-left {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-50%);
    }
}

@keyframes slide-right {
    from {
        transform: translateX(-50%);
    }

    to {
        transform: translateX(0);
    }
}

.partners-first {
    animation: 15s slide-left infinite linear;
}

.partners-second {
    animation: 15s slide-right infinite linear;
}

.partners-slide:hover .partners-first,
.partners-slide:hover .partners-second {
    animation-play-state: paused;
    -moz-animation-play-state: paused;
    -webkit-animation-play-state: paused;
}
